version: "3.9"

services:
  app:
    build: .
    container_name: crypto_app
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
      - "6379:6379"
    volumes:
      - .:/app
      - ./logs:/app/logs   # лог-файлы для supervisord
    command: ["supervisord", "-c", "/app/supervisord.conf"]

  postgres:
    image: postgres:16
    container_name: crypto_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
